@model PagedList.IPagedList<ZiJingHu.Models.Product>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "解决方案及产品";
}

@foreach (var item in Model)
{
    var imagePath = "/Images/Products/" + item.ImageName;
    <div class="row extra-margin">
        <div class="col-md-4">
            <img src='@imagePath' class="image-full-grid" />
        </div>
        <div class="col-md-8">
            <h3>@item.Name</h3>
            <p>
                @Html.Raw(item.Description)
                @Html.Partial("_Action", item)
            </p>
        </div>
    </div>
}

@if (Model.PageCount > 1) { 
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), PagedListRenderOptions.Classic)
}

@Html.Partial("_CreateNew")